@font-face {
    font-family: 'BebasNeueBold';
    src: url(/fonts/BebasNeueBold.otf);
    // font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CooperHewittMedium';
    src: url(/fonts/CooperHewittMedium.otf);
    // font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratLight';
    src: url(/fonts/MontserratLight.ttf);
    // font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OswaldExtraLight';
    src: url(/fonts/OswaldExtraLight.ttf);
    // font-weight: bold;
    font-style: normal;
}