---
import FooterActions from '../components/FooterActions.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout title="Eventos - Necio bar">
  
<main id="menu">
  <section class="section__container lg:pt-10">
      <div class="section__background pt-16">
          <div class="section__content">
              <div class="section__title">
                  <h1>Eventos</h1>
              </div>
          </div>
      </div>
  </section>
  <FooterActions />
</main>
</Layout>
<style lang="scss">
  @import '../sass/neciosbar.scss';
</style>