---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Menú">
  
<main id="menu">
  <section class="section__container">
      <div class="section__background">
          <div class="section__content">
              <div class="section__title">
                  <h1>Menú</h1>
              </div>
              <div class="menu__grid section__grid" id="menuGrid">                
                <a href="/carta/MENU_NECIOS_MEZCALERIA.pdf" id="pdfCartaAlimentos" class="btn" target="_blank">Alimentos y bebidas</a>
              </div>
          </div>
      </div>
  </section>
</main>
</Layout>
<style lang="scss">
  @import '../sass/neciosbar.scss';
</style>