---
import Layout from "../layouts/Layout.astro";
---
<Layout title="">
  <section class="section__container">
    <div class="section__background">
        <div class="section__content">
            <div class="grid__promos section__grid">
                <div class="promos__item">
                    <div class="section__title">
                        <h2 class="section__title--h2">Martes a Sábado</h2>
                        
                        
                    </div>
                </div>
                <div class="promos__item">
                    <ul>
                        <li>
                            <h3 class="title__promos">Tlayuda + mezcal + guacamole*</h3>
                            <!-- <p>Tlayuda + mezcal + guacamole*</p> -->
                            <p class="promos__precio">$150.00</p>
                        </li>
                        <li>
                            <h3 class="title__promos">Tacos + mezcal*</h3>
                            <!-- <p>Tacos + mezcal*</p> -->
                            <p class="promos__precio">$80.00</p>
                        </li>
                        <li>
                            <h3 class="title__promos">Mezcal + cerveza*</h3>
                            <!-- <p>Mezcal + cerveza</p> -->
                            <p class="promos__precio">$100.00</p>
                        </li>
                    </ul>
                    
                    *Solo marcas participantes. Consulta disponibilidad y vigencia. Aplican términos y condiciones.
                </div>
            </div>
        </div>
    </div>
  </section>
</Layout>
<style lang="scss">
  @import '../sass/neciosbar.scss';
</style>