<footer>
  <section class="section__container">
      <div class="section__background">
          <div class="section__content">
              <div class="section__grid">
                  <div class="section__title">
                      <!-- <h2 class="section__title--h2">Contáctanos</h2> -->
                  </div>
              </div>
              <div class="footer__grid section__grid">
                  <div class="footer__item">
                      <!-- Contáctanos -->
                      <h3>Contáctanos</h3>
                      <ul class="footer__list--contacto">
                          <li>
                              <a href="https://goo.gl/maps/mybKVYnNfuqPkhvW9" class="btn-footer">
                                  <i class="fi-white flaticon-mapas-de-google"></i>
                                  <p>
                                      Michoacán 133, Col. Condesa, CDMX.
                                  </p>

                              </a>
                          </li>
                          <li>
                              
                              <a href="tel:5589995869" class="btn-footer">
                                  <i class="fi-white flaticon-llamada-telefonica"></i>
                                  <p>55 8999 5869</p>
                              </a>
                          </li>
                          <li>
                              <a href="mailto:contacto@necios.mx" class="btn-footer">
                                  <i class="fi-white flaticon-email"></i>
                                  <p>contacto@necios.mx</p>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="footer__item">
                      <h3>Síguenos en redes sociales</h3>
                      <ul class="footer__list--contacto">
                          <li>
                              <a href="https://www.instagram.com/neciosbar/" class="btn-footer">
                                  <i class="fi-white flaticon-instagram"></i>
                                  <p>
                                      neciosbar
                                  </p>

                              </a>
                          </li>
                          <li>
                              <a href="https://www.facebook.com/NeciosBar/" class="btn-footer">
                                  <i class="fi-white flaticon-facebook"></i>
                                  <p>
                                      NeciosBar
                                  </p>

                              </a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/channel/UCG10ZR-tse4oDhYFkoCT57A" class="btn-footer">
                                  <i class="fi-white flaticon-youtube"></i>
                                  <p>
                                      Necios Bar
                                  </p>

                              </a>
                          </li>
                          <li>
                              <a href="https://m.me/NeciosBar" class="btn-footer">
                                  <i class="fi-white flaticon-mensajero"></i>
                                  <p>
                                      Messenger
                                  </p>

                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="footer__legals">
      © 2024 Necios®. Todos los derechos reservados - Aviso de privacidad
  </section>
</footer>
<style lang="scss">
  @import '../sass/neciosbar.scss';
</style>