<div class="section__container section__cta">
  <div class="section__background background__cta">
      <div class="grid__cta">
          <div class="cta__item">
              <a href="tel:5589995869" class="btn__cta">
                  <i class="fi-cta flaticon-llamada-telefonica"></i>
                  <span>Reserva</span>
              </a>
          </div>
          <div class="cta__item">
              <a href="/menu" class="btn__cta">
                  <i class="fi-cta flaticon-comida-1"></i>
                  Carta
              </a>
          </div>
      </div>
  </div>
</div>
<style lang="scss">
  @import '../sass/neciosbar.scss';
</style>