html {
    scroll-behavior: smooth;
}
body {
    font-family: 'MontserratLight';
    font-size: 18px;
    background-color: $blanco_necio;
}
p {
    line-height: 1.5em;
}
.section__container {
    width: 100%;
    padding-top: 2em;
}
.section__container:nth-child(1) {
    padding-top: 0;
}
.section__background {
    width: 100%;
}
.section__content--full {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    // padding: 1em;
}
.section__content {
    @extend .section__content--full;
    max-width: 1200px;
    // border: 1px solid red;
}
.section__grid {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
.section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // width: 85%;
}
.section__subtitle {

}
.img__responsive {
    width: 100%;
}

.align__center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}