---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Descubre Necios Bar en la Condesa, CDMX, un lugar único para disfrutar del auténtico sabor del mezcal. Ambiente acogedor, amplia selección de mezcales y experiencias únicas te esperan. ¡Visítanos hoy!">
    <meta name="keywords" content="mezcal, mezcalería, Necios Bar, Condesa, CDMX, bebidas mexicanas, experiencia gastronómica, cultura del mezcal">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Necios Bar - Mezcalería">
    <meta property="og:description" content="Descubre Necios Bar en la Condesa, CDMX, un lugar único para disfrutar del auténtico sabor del mezcal. Ambiente acogedor, amplia selección de mezcales y experiencias únicas te esperan. ¡Visítanos hoy!">
    <meta property="og:image" content="/images/background__header.jpg">
    <meta property="og:url" content="https://necios.mx">
    <meta property="og:type" content="website">
		<title>{title}</title>
	</head>
	<body>
    <Navbar />
		<slot />
    <Footer />
	</body>
  
</html>
